@inherits LayoutComponentBase
<div class="page">
    <main>
        <header>
            <nav class="navbar">
                <img src="https://api.dlrg.net/logo/v1/stammverband/png?size=44&line1=Anmeldung%20Bootsf%C3%BChrerschein&farbe=vollfarbe&stacked=false" alt="DLRG | Anmeldung BF">
            </nav>
        </header>
        <div style="margin:50px;margin-top:100px;">
            @Body
        </div>
    </main>
</div>
